/* resets */
*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

/* Universal Styles */

[class*=grid-], [class*=grid_], [class~=grid],[class~=grid][class*=col-]{
  margin: 0;
}

[class*grid-][class*equalHeight]>[class*=col]{
  display:block;
  /* This overrides a quirk where contents inside of equal height containers become columns themselves */
}

body{
  font-family: 'Lato', sans-serif;
  /* font-size: 1.2rem; */
  color: #91919e;
  /* padding: 2% 1%; */
  /* margin: 2%; */
  line-height: 1.3rem;
}

section{
  padding: 10vh 5%;
}

h1, h2, h3, h4{
  text-transform: uppercase;
  margin-bottom: .5em;
  line-height: 2rem;
}

h2{
  font-size: 2rem;
}

.col, .col-4, .col-3, .col-6, .col-12, .col-6_sm-12, .col-4_sm-12, .col-3_sm-12{
  padding: 5%;
}

.less-padding{
  padding: 3%;
}

.no-padding{
  padding:0;
}

.top-padding{
  padding-top: 2%;
}

.green-background{
  background-color: #0399a8;
}

.green-font{
  color:#0399a8;
}

.white-font{
  color: white;
}

.gray-font{
  color:#484646;
  padding-top: 4%;
  font-size: 1.4rem;
}

.centered{
  text-align: center;
}

.bg-image{
  background-position: 40% 80%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  /* max-width: 100%; */
  min-height: 40vh;
}

.button{
  background-color: inherit;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1rem;
  background-color: #0399a8;
  color: white;
  padding: 1.5% 4%;
  border-radius: 10%;
  margin: 2% auto 0 auto;
  width: auto;
}

.button:hover{
  /* border: 1px solid white; */
  font-weight: bold;
  display: inline-block;
  filter: opacity(70%);
  background-color: white;
  color: #0399a8;
}

li, ul{
  padding: 1% 0;
  font-size: 1rem;
  line-height: 1.2rem;
}

.small-font{
  font-size: .9rem;
  line-height: 1.2rem;
}

/* header */
.banner-image{
  background-position: 50% 20%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
  background-attachment: fixed;
}

.banner-text{
  text-align: center;
  color: white;
  padding-top: 8%;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2em;
  text-shadow: 1px 1px 1px #c9c9ca, 1px 1px 1px #c9c9ca;
  margin-bottom: 1%;
}

.banner-subheading{
  color: white;
  /* text-shadow: 1px 1px 1px #c9c9ca, 1px 1px 1px #c9c9ca;
  font-size: 1.5rem; */
  line-height: 1.2em;
  /* padding: 0 22%; */
  font-size: 1.6rem;
}


/* Icon section */

.fab, .fa, .fas{
  font-size: 3em;
  margin: 0 0 .5rem 0;
}

/* Form */

input, textarea{
  -webkit-appearance: none;
font-family: 'Lato';
padding: 1rem;
margin: .5em auto;
font-size: .8rem;
border: gray 1px solid;
display: block;
width: 100%;
vertical-align: top;
}

textarea{
  min-height: 98%;
}

input{
  height: 30%;
}

input.button{
background-color: inherit;
font-family: 'Lato', sans-serif;
text-align: center;
font-size: 1rem;
text-transform: uppercase;
background-color: #0399a8;
color: white;
padding: 1% 4%;
border-radius: 10%;
margin: 0 auto 0 auto;
width: 8rem;
height: 3rem;
}

form div.col-4, form div.col-12{
  padding: 1%;
}


/********** first pic grid ********/

.text-block{
  padding: 8%;
  /* height: 60vh; */
}

.text-block h2{
  line-height: 2rem;
}


/********** bottom pic grid ********/

.header-space{
  line-height: 2rem;
  text-align: center;
}



/********** Media Queries ***********/

@media and screen(max-width: )
